@import '../../styles/variables.scss';

.container {
  display: flex;
}

.imageContainer {
  margin-right: $space-md;
  & > img {
    width: 42.5rem;
    height: auto;
  }
}

.content {
  display: block;
}

.detail {
  margin-bottom: $space-md;
}

.title{
  margin-bottom: $space-lg;
  @include font-headering-3;
  font-weight: 600;
}

.priceThousands {
  margin-bottom: $space-lg;
  @include font-headering-1;
  font-weight: 400;
  display: flex;
}

.priceDecimals {
 @include font-body;
 font-weight: 400; 
}

.button {
  background-color: $secondary;
  width: 100%;
  padding: $space-sm;
  border: none;
  border-radius: $borderRadius;
  color: $white;
}